.image-stack {
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

.image-stack__item--top {

    grid-column: 3 / span 8;
    grid-row: 1;
    padding-top: 20%;
    z-index: 1;
}
.image-stack__item--bottom {
    grid-column: 4 / -1;
    grid-row: 1;
}
.image-stack__item--top img {
    width: 521px;
    height:auto;
}

.image-stack__item--bottom img {
    width: 645px;
    height: auto;
}

#standalone_mario {
    display: none;
}

@media only screen and (max-width: 600px) {
    .image-stack {
        display: none;
    }
    #standalone_mario {
        display: block;
        width: 100vw;
        
    }
}